.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
}

.list > *:last-child {
  margin-top: 1rem;
}

.h1 {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 2rem;
}
