.amount {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.header {
  font-weight: 600;
  font-size: 1.3em;
}

.positive {
  color: #8BC34A;  
}

.negative {
  color: #d01919;  
}

.detail {
  color: #a3a3a3;
}