.sidebarcontainer{
	min-height: 100vh;
}

.menu {
	position: fixed;
	padding: 1.5rem;
	z-index: 999;
}

.content {
	padding-top: 5rem;
}

.menuWrap > * {
	background-color: #2a2a2a !important;
}

.sidebarContent {
	min-height: calc(100vh - 5rem);
	padding-top: 5rem;
}